body {
    font-family: "Montserrat", sans-serif;
    /* background-image: linear-gradient(#fff, #151616) */
    /* background-color: #fbfbfb; */
}


*{
    box-sizing: border-box;
    /* border: solid black 1px; */
}

.bluetitle{
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bluetitle h1{
    margin: auto 1.5rem;
}

h2{
    margin: 0%;
}

.threegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.g2, .g1{
    margin: 1.5rem;
    text-align: center;
}

.g1{
    grid-column: 1/3;
}

.filternav, .navshow{
    display: flex;
    justify-content: center;
}

.filternav a{
    border-radius: 1rem;
    background-color: black;
    padding: 1rem;
    width: 25%;
}

.navshow{
    background-color: black;
}

.filternav a, .navshow a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 1.5rem 3rem;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    /* font-weight: 700; */
}

footer.bluetitle{
    display: grid;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

footer p{
    margin: 0.5rem;
}

#menu {
    display: none;
}

header img{
    filter: drop-shadow(4px 4px 5px black);
}

section{
    border-radius: 1rem;
    filter: drop-shadow(4px 4px 5px black);
    background-color: white;
    padding-bottom: 1.5rem;
}

section img{
    max-width:62.5%;
    height:auto;
    margin: 1rem;
    margin-bottom: 0;
}

#courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#courses div{
    border-radius: 1rem;
    font-size: 1.5rem;
    margin: 1.5rem;
    font-weight: 700;
    border: 1px solid black;
}

.completed{
    background-color: #ddd;
}

.uncompleted{
    background-color: brown;
    color: white;
}